"use strict";
/*!
 * ## AdServing js library:
 * Version  : VERSION  
 * Released : DATE 
 * @author Brian Demant <brian.demantgmail.com> (2013)
 */

// Module pattern for scope and more effective minification
(function (window, definition) { 
	window.AdServ = definition(window, window.document); 
})(window,  function (window, document) { 
	var AdServ = window.AdServ || {};
	
	AdServ.version = 'VERSION';
	AdServ.released = 'DATE';
	AdServ.commit = 'COMMIT';
	AdServ.logLevels = LOGLEVELS;
	AdServ.develop = DEVELOP;
	
	window.AdServ = AdServ;
