.wrapper {
	width:680px; 
}
.small, .medium, .large {
	opacity: 0.5;
}

.small > .banner, .medium > .banner, .large > .banner{
	visibility: hidden;
}
.small.shown, .medium.shown,.large.shown{
	display: none;
}

@media (max-width: 530px) {
	.small {
		opacity: 1;
	}
	.small > .banner {
		visibility: visible;
	}
	.small.shown {
		display: block;
	}
}
@media (min-width: 531px) and (max-width: 700px)     {
	.medium {
		opacity: 1;
	}

	.medium > .banner {
		visibility: visible;
	}

	.medium.shown {
		display: block;
	}
}



@media   (min-width: 701px)  {
	.large {
		opacity: 1;
	}

	.large > .banner {
		visibility: visible;
	}

	.large.shown {
		display: block;
	}
}
 