* {
	box-sizing: content-box;
}
body {
	font-family: Verdana, Geneva, sans-serif; 
}

.container {
	float: left; 
	display: block;
	width: 170px;
	position: relative;
}

.container > h3 { 
	display: block; 
	margin: 0 auto;
	text-align: center;
	font-size: 14px; 
}

.container > .description { 
	display: none; 
	padding: 10px;
	position: absolute;
	bottom:44px;
	left:12px;
	height: 65px;
	width: 130px;
	font-size: 12px;
	background: rgba(250, 250, 250, 0.8); 
}

.container:hover > .description {
	display: block;
}
.banner { 
	padding: 0px; 
	background: #eee;
	border: 2px solid #aaa;
	box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.3);
	margin: 10px; 
	height: 150px;
	width: 150px; 
	font-size: 12px;
}
 