"use strict";
/*!
 * AdServ VERSION - Brian Demant <brian.demantgmail.com> (2013)
 */
(function (scope, definition) { 
	scope['AdServ'] = definition(scope); 
})(this, function (scope) {
	var AdServ = scope['AdServ'] || {};
	scope['AdServ'] = AdServ;
	var doc = scope.document; 