"use strict";
/*!
 * AdServ VERSION - Brian Demant <brian.demantgmail.com> (2013)
 */
(function (window, definition) { 
	window.AdServ = definition(window, window.document); 
})(window,  function (window, document) { 
	var AdServ = window.AdServ || {};
	window.AdServ = AdServ; 
	// header ----------------------------------------------------------------------